<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AvocadoEntities" connectionString="metadata=res://*/Entities.AvocadoEntities.csdl|res://*/Entities.AvocadoEntities.ssdl|res://*/Entities.AvocadoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUMPER01\DEVSQLSERVER;initial catalog=Avocado;user id=webby;password=March181977;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>