<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="consumerKey" value="ep22vRe4UBW4VlYa3b6odQ"/>
    <add key="consumerSecret" value="Tmni15oL2XCuDGBTdgtOIjRHvfWhNGjl5xT9RqcCj3A"/>
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="AvocadoConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="server=Jumper01\DevSQLServer;database=Avocado;uid=webby;pwd=March181977" />
    <add name="AvocadoEntities"
         providerName="System.Data.EntityClient"
         connectionString="metadata=res://*/Entities.AvocadoEntities.csdl|res://*/Entities.AvocadoEntities.ssdl|res://*/Entities.AvocadoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JUMPER01\DEVSQLSERVER;initial catalog=Avocado;user id=webby;password=March181977;multipleactiveresultsets=True;App=EntityFramework&quot;"/>
    <add name="AzureConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="server=j7deetrv86.database.windows.net;database=hoser;uid=BobAndDoug;pwd=Str@ng3Br3w"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Home/Index" timeout="518400" name="CreativimeCookie" slidingExpiration="true" />
    </authentication>

    <authorization>
      <allow users="*"/>
    </authorization>

    <membership defaultProvider="AvocadoMembershipProvider">
      <providers>
        <clear/>
        <add name="AvocadoMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="AvocadoConnectionString"
             applicationName="Avocado"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordFormat="Hashed" />
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="AvocadoRoleProvider">
      <providers>
        <clear/>
        <add name="AvocadoRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="AvocadoConnectionString"
             applicationName="Avocado"/>
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <location path="Account">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
