<h5>Filter By Category</h5>
<ul id="filters-control">
    <li><a href="/Browse/Category/Crafts">Crafts</a></li>
    <li><a href="/Browse/Category/Food">Food</a></li>
    <li><a href="/Browse/Category/Events">Events</a></li>
    <li><a href="/Browse/Category/Re-Purpose Projects">Re-Purpose Projects</a></li>
</ul>



