<script type="text/javascript">
    $(function () {
        $("#globalPostButton").click(function () {
            window.location = '/Posts';
        });
    });
</script>
<div class="aside">
    <div class="alert-message block-message center-stuff">
        <h4>Start Sharing</h4>
        <button id="globalPostButton" type="button" class="btn large danger">Post a Creation</button>
        <p class="row-below">
            post <span style="font-weight:bold;">anything</span> you created and tell us all about it!
        </p>
    </div>
</div>
