@model Avocado.Web.Models.Collections.MyCollectionsViewModel

@{
    ViewBag.Title = "Creativime";
}

<div class="container">
    <div class="row">
        <div class="span16">
            @Html.Partial("_TabNavigation")
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h1>All your favorites in one spot</h1>
            <div class="row-below">
                <h2>My Likes</h2>
                @foreach (var post in Model.MyLikes)
                {
                    <img src="../../Uploads/@post.Account.aspnet_Users.UserId.ToString()/@post.MainImage" alt="post image" width="100" height="75" />
                }
            </div>
            <hr />
            <div class="row-below">
                <h2>My Saves</h2>
                @foreach (var post in Model.MyLikes)
                {
                    <img src="../../Uploads/@post.Account.aspnet_Users.UserId.ToString()/@post.MainImage" alt="post image" />
                }
            </div>
            <hr />
            <div class="row-below">
                <h2>My Creations</h2>
                @foreach (var post in Model.MyLikes)
                {
                    <img src="../../Uploads/@post.Account.aspnet_Users.UserId.ToString()/@post.MainImage" alt="post image" />
                }
            </div>
        </div>
        <div class="span4">
            @Html.Partial("_PostButton")
        </div>
    </div>
</div>
