@{
    ViewBag.Title = "Creativime";
}

<div class="container">
    <div class="row">
        <div class="span16">
            @Html.Partial("_TabNavigation")
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h1>All your favorites in one spot</h1>
        </div>
        <div class="span4">
            @Html.Partial("_PostButton")
        </div>
    </div>
</div>
