html
{
    background-color:#fff;
}

body
{
    margin-top:40px; /*this will clear the topbar*/
    background-color:#fff;
}

footer
{
    margin-top:150px;
}

/*
ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

ul li
{
    margin-bottom:3px;
}*/

.aside
{
    padding-left:15px;
}

.author-title a
{
    font-size:14px;
    /*color:#b3aeae;*/
    text-decoration:none;
}

.author-title a:hover
{
    text-decoration:underline;
}


.browse-section
{
    margin-bottom:15px;
}

.title-header
{
    padding:5px 15px 5px 15px;
    margin: 10px 0 10px 0;
    background-color:#ece9e9;
    color:#747171;
    font-weight:bold;
    font-size:14px;
    border-bottom: 1px solid #b3aeae;
}

.title-link a
{
    color:#404040;
}

.title-link a:hover
{
    text-decoration:underline;
    color:#404040;
}

.center-stuff
{
    text-align:center;
}

.clear, .clear-all-floats
{
    clear:both;
}

.form-input
{
    border:1px solid #ccc;
    border-radius:4px;
    padding:5px;
    width:300px;
    height:25px;
    font-size:150%;
    background-color:#fff;
}

.topbar input
{
    background-color:#fff;
    border:1px solid #ccc;
    color:#615f5f;
}

:-moz-placeholder {
  color: #b3aeae;
}
::-webkit-input-placeholder {
  color: #b3aeae;
}

.topbar input:-moz-placeholder {
  color: #b3aeae;
}
.topbar input::-webkit-input-placeholder {
  color: #b3aeae;
}

.topbar input:hover {
  background-color: #ece9e9;
  background-color: rgba(255, 255, 255, 0.5);
  color: #615f5f;
}
.topbar input:focus, .topbar input.focused {
  outline: 0;
  background-color: #ffffff;
  color: #615f5f;
  text-shadow: 0 1px 0 #ffffff;
  border: 0;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

#customTwitterLogin
{
    cursor:pointer;
}

.comment-block
{
    border-bottom:1px solid #c3d4e1;
    padding: 10px 0 10px 0;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

.item-container
{
    padding:0;
    border:1px solid #b3aeae;
    height:330px;
    position:relative;
    background-color:#fff;
}

.item-info
{
    padding:2px 10px;
    color:#615f5f;
}

.item-image
{
    width:auto;
}

.item-stats 
{
    font-size:85%; 
    margin-bottom:10px; 
    font-weight:bold; 
}

.item-saves, .item-likes, .item-comments, .item-sparks
{
    margin-right:20px;
}

.item-saves img, .item-likes img, .item-comments img, .item-sparks img
{
    width:16px;
    height:16px;
    padding-right:5px;
}

.item-description
{
    clear:both;
    margin:15px 0 5px 0;
    font-size:90%;
    text-align:justify;
}

.item-description img
{
    float:left;
    padding:0 8px 0 0;
}

.item-tags
{
    font-size:80%;
    float:left;
    margin:5px 0 3px 0;
    position:absolute;
    bottom:0;
}

.item-tags ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

.item-tags ul li
{
    float:left;
    margin-left:5px;
}

.item-tags a
{
    color:#b3aeae;
    text-decoration:none;
}

.item-tags a:hover
{
    text-decoration:underline;
}

.action-bar-like, .action-bar-save
{
    display:block;
    text-align:center;
    width:85px;
    text-decoration:none;
    color:#404040;
    font-weight:bold;
    padding:10px 5px;
    margin-right:5px;
}

.action-bar-like:hover, .action-bar-save:hover
{
    
    color:#fff;
    text-decoration:none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.action-bar-like:hover{ background-color:#af4646; }
.action-bar-save:hover{ background-color:#469846; }

.avatar-small
{
    width: 24px;
    height: 24px;
}

.avatar-large
{
    width:100px;
    height:100px;
}

.avatar-xlarge
{
    width:175px;
    height:175px;
}

.xsmall
{
    font-size:10px;
}

.xxsmall
{
    font-size:75%;
}

.row-item
{
    margin-bottom:15px;
    background-color:#fff;
}

.row-below
{
    margin-top:15px;
}

.thick-border
{
    border:3px solid #ccc;
}

.post-list
{
    list-style:none;
    margin:0;
    padding:0;
}

.post-list li
{
    float:left;
    margin-right:5px;
}

.post-list li img
{
    width:75px;
    height:75px;
}

.stats-list a
{
    color:#747171;
    text-decoration:none;
}

.stats-list a:hover
{
    color:#747171;
    text-decoration:underline;
}

.stats-badge
{
    text-align:center;
    width:75px;
    padding:10px 5px;
    margin:3px;
    color:#fff;
    font-size:26px;
    font-weight:bold;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.stats-badge-link, .stats-badge-link:hover
{
    text-decoration:none;
}

.stats-badge span
{
    font-size:14px;
    font-weight:normal;
}

.stats-badge-small
{
    width: 60px;
    font-size:16px;
}

.stats-badge-small span
{
    font-size:10px;
}

.posts{background-color:#469846;}
.sparks{ background-color:#af4646;}
.followed{ background-color:#c8c826;}
.following{ background-color:#60aaec;}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

/*.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}*/

.validation-summary-valid
{
    display: none;
}
/* End Styles for validation helpers
-------------------------------------------------------*/